body {
    min-width: 800px;
}
.header {
    min-width: 800px;
    display: flex;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 36px;
    width: 100%;
}

.logo img {
    height: 100%;
    width: auto;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

#game {
    width: 800px;
    height: 400px;
    background-image: url("./img/altai.png");
    border: 1px solid black;
    margin: 50px auto auto;
    z-index: 1;
}

#rick {
    width: 150px;
    height: 150px;
    background-image: url("./img/rick.png");
    background-size: 150px 150px;
    position: relative;
    top: 250px;
    left: 10px;
}

.jump {
    transform: translate(10%, 10%);
    animation: jump 0.5s linear;
}

@keyframes jump {
    0% {
        top: 250px;
    }

    30% {
        top: 120px;
    }

    50% {
        top: 50px;
    }

    80% {
        top: 120px;
    }

    100% {
        top: 250px;
    }
}

#horse {
    width: 100px;
    height: 100px;
    background-image: url("./img/chip.png");
    background-size: 100px 100px;
    position: relative;
    top: 150px;
    left: 690px;
}

.block {
    animation: block 1s infinite linear;
}

@keyframes block {
    0% {
        left: 700px;
    }

    100% {
        left: -40px;
    }

}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    min-width: 800px;
}

.menu * {
    margin: 10px;
    font-size: 32px;
}

#counter {
    min-height: 28px;
    min-width: 80px;
    border: 1px solid black;
    border-radius: 2px 2px;
    text-align: center;
}

button {
    padding: 2px 6px;
    border: 1px solid black;
    border-radius: 2px 2px;
}

button:active {
    padding: 2px 6px;
    border: 1px solid black;
    border-radius: 2px 2px;
    background-color: beige;
}

#over {
    background-image: url("./img/over.png");
    width: 800px;
    height: 400px;
    z-index: 9999;
    position: absolute;
    margin-top: -250px;
    border: 3px solid black;
    visibility: hidden;
}

#box {
    border: 1px solid black;
    border-radius: 3px 3px;
}
